<div class="mid_up_component">
  <div class="title">
    <div class="title_left">绿化分布可视化</div>
    <div class="title_mid">
      <nz-radio-group [(ngModel)]="radioValue">
        <label nz-radio-button nzValue="A">按收入</label>
        <label nz-radio-button nzValue="B">按日期</label>
      </nz-radio-group>
    </div>
    <div  class="title_right">
      <select class="chooseitem">
        <option class="chooseitem_style" value="2020">2020</option>
        <option class="chooseitem_style" value="2019">2019</option>
        <option class="chooseitem_style" value="2018">2018</option>
      </select>
    </div>
  </div>

  <div class="content"></div>
</div>