
<!-- 标题部分 -->
<div class="title">
  
    <!-- 标题左边 -->
    <div class="title-left">
        <img class="left1" src="../assets/img/logo.png" alt="这是logo" />
        <div class="left2">
          <ul>
            <li>标题1</li>
            <li>标题2</li>
            <li>标题3</li>
          </ul>
        </div>
    </div>
    <!-- 标题右边 -->
    <div class="title-right">
        <ul>
            <li>全屏</li>
            <li>管理员<span></span></li>
          </ul>
    </div>
  
  </div>
  
  <!-- body部分 -->
  <div class="content">
    <!--左上-->
    <app-left-up></app-left-up>
    <!--上-->
    <app-mid-top class="bigcard">1</app-mid-top>
    <!--右上-->
    <div class="smallcard">2</div>
    <!--左-->
    <div class="smallcard">3</div>
    <!--右-->
    <app-right></app-right>
    <!--左下-->
    <div class="smallcard">6</div>
    <!--中下-->
    <app-mid-bottom></app-mid-bottom>
    <!--右下-->
    <app-right-bottom></app-right-bottom>
    
  </div>